h1 {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}
i {
    text-align: center;
}

body {
    text-align: center;
    background-color: black;
    color: white
}

#checks {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #results {
    max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
  }

